aleo_python @ file:///var/folders/_z/7shty7ss23l60vp39t0ggh3h0000gn/T/.tmpqr4gTL/aleo_python-0.1.0-cp37-cp37m-macosx_10_7_x86_64.whl
base58==2.1.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
cryptography==3.4.8
filetype==1.2.0
idna==3.4
ipfshttpclient==0.8.0a2
maturin==0.14.7
multiaddr==0.0.9
netaddr==0.8.0
Pillow==9.3.0
pycparser==2.21
PyNaCl==1.5.0
PyQt6==6.4.0
PyQt6-Qt6==6.4.1
PyQt6-sip==13.4.0
qrcode==7.3.1
requests==2.28.1
six==1.16.0
tomli==2.0.1
umbral==0.3.0
urllib3==1.26.13
varint==1.0.2
